<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.geemu.pangu.common.mapper.BaseMapper">

    <resultMap id="BASE_COLUMN_MAP" type="com.github.geemu.pangu.common.entity.BaseEntity">
        <id column="ID" property="id"/>
        <result column="CREATED_AT" property="createdAt"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="UPDATED_AT" property="updatedAt"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="DELETED" property="deleted"/>
    </resultMap>

    <sql id="BASE_COLUMN">
        `ID`,CREATED_AT,CREATED_BY,UPDATED_AT,UPDATED_BY,DELETED
    </sql>

</mapper>