<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.geemu.pangu.backend.mapper.BackendUserMapper">

    <resultMap id="BACKEND_USER_COLUMN_MAP" type="com.github.geemu.pangu.backend.entity.BackendUserEntity" extends="com.github.geemu.pangu.common.mapper.BaseVersionMapper.BASE_VERSION_COLUMN_MAP">
        <id column="ENABLED" property="enabled"/>
        <result column="ACCOUNT" property="account"/>
        <result column="NICK_NAME" property="nickName"/>
        <result column="PASSWORD" property="password"/>
    </resultMap>

</mapper>