<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.geemu.pangu.backend.mapper.UserMapper">

    <resultMap id="BACKEND_USER_COLUMN_MAP" type="com.github.geemu.pangu.backend.entity.UserEntity">
        <id column="ID" property="id"/>
        <result column="CREATED_AT" property="createdAt"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="UPDATED_AT" property="updatedAt"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="DELETED" property="deleted"/>
        <result column="VERSION" property="version"/>
        <result column="ACCOUNT" property="account"/>
        <result column="PASSWORD" property="password"/>
    </resultMap>

<!--    <select id="selectById" parameterType="java.lang.Long" resultMap="BACKEND_USER_COLUMN_MAP">-->
<!--        select *-->
<!--        from backend_user-->
<!--        where id = #{id}-->
<!--    </select>-->

</mapper>